@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.root {
  --value: 0;

  position: relative;

  .progress_circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: pxToRem(240px);
    height: pxToRem(240px);

    border-radius: 50%;
    background: radial-gradient(closest-side, $panel_color 95%, transparent 95% 100%),
      conic-gradient($black_color calc(var(--value) / 2 * 1%), $white_color 0);

    box-shadow: 0px 0px pxToRem(13px) rgba($black_color, 0.15);

    transform: rotateZ(-90deg);

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;

      border-radius: 50%;
      background-color: $panel_color;
      clip-path: circle(48%);

      box-shadow: inset 0px 0px pxToRem(23px) pxToRem(9px) rgba($black_color, 0.2);
    }
    &::before {
      content: '';
      z-index: 5;
      position: absolute;
      right: 50%;
      width: 100%;
      height: 150%;

      background-color: $panel_color;
    }
  }

  .label1 {
    position: absolute;
    bottom: 50%;
    left: pxToRem(20px);

    font-size: pxToRem(20px);
    font-weight: 600;
  }

  .label2 {
    position: absolute;
    bottom: 50%;
    right: pxToRem(20px);

    font-size: pxToRem(20px);
    font-weight: 600;
  }
}
