@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.root {
  display: flex;
  flex-direction: column;

  .title {
    margin: 0;

    color: $dark_gray_color;

    text-align: center;
    font-weight: 600;
    font-size: minMaxSize(20px, 2.5vh, 16px);
  }

  .value {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    margin: 0;

    text-align: center;
    font-weight: 600;
    font-size: minMaxSize(34px, 4.2vh, 24px);

    @include numberEffectStyle;
  }
}
