@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.root {
  display: flex;
  flex-direction: column;
  gap: $gap_block;
  flex-grow: 1;
  overflow: hidden;
}

.error_message {
  color: $red_color;
}

.top_control {
  display: flex;
  gap: $gap_block;

  margin-top: pxToRem(10px);
}

.table_wrapper {
  padding: pxToRem(20px);
  width: 100%;
  height: 100%;
  overflow: auto;

  background-color: $panel_color;

  border-radius: $border_radius;
}

table {
  border-collapse: collapse;

  th,
  td {
    padding: 10px;
    min-width: 50px;
    height: 20px;

    border: 1px solid $primary_dark2_color;

    text-align: center;
  }

  td:first-child {
    text-align: start;
  }

  td:not(:first-child) {
    background-color: $white_color;

    transition: all 200ms;
    cursor: pointer;

    &:hover {
      background-color: $panel_color;
    }
  }

  .td_name {
    min-width: 250px;
  }
}
