@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(100% - 248px);

  &_inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(pxToRem(280px), 1fr));
    grid-auto-rows: pxToRem(140px);
    gap: $gap_block;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .title {
    grid-column: span 4;

    margin: minMaxSize(20px, 2.5vh, 16px) 0;

    font-weight: 500;
    font-size: minMaxSize(40px, 3.6vh, 28px);
  }
}
@for $i from 1 through 100 {
  .content_inner > *:nth-child(#{$i}n) {
    animation-delay: #{($i - 1) * $panel_fade_delay}ms;
  }
}
